{% load static %}
<html>
  <head>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      League = {{ league|safe }};
      console.log(League);
    </script>
    <script type="text/javascript" src="{% static "leaguestats/js/tabs.js" %}">
    </script>
    <script type="text/javascript" src="{% static "leaguestats/js/league-stats.js" %}">
    </script>
    <script type="text/javascript" src="{% static "leaguestats/js/season-stats.js" %}">
    </script>
    <link rel="stylesheet" type="text/css" href="{% static "leaguestats/css/stats.css" %}">
  </head>
  <body class="body-wrapper">
    <h1 class="title-header">{{league.name}} Team Rankings</h1>
    <ul class="page-header">
      <li id="league-link" class="active"><a href="#">All Time Stats</a></li>
      <li id="seasons-link"><a href="#">Season Stats</a></li>
      <li id="teams-link"><a href="#">Team Stats</a></li>
    </ul>

    <div id="league-section" class="stats-body">
      <svg id="all-scores"></svg>
      <div class="best-weeks-section">
        <div class="leaderboard-table border-right">
          <h3 class="leaderboard">Best Weeks of All Time</h3>
          <table>
            <tr>
              <th>Rank</th>
              <th>Owner</th>
              <th>Team</th>
              <th>Year</th>
              <th>Week</th>
              <th>Score</th>
            </tr>
            {% for week in league.allTime.best_weeks reversed %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ week.owner }}</td>
                <td>{{ week.team_name }}</td>
                <td>{{ week.year }}</td>
                <td>{{ week.week }}</td>
                <td>{{ week.score }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="leaderboard-table">
          <h3 class="leaderboard">Worst Weeks of All Time</h3>
          <table>
            <tr>
              <th>Rank</th>
              <th>Owner</th>
              <th>Team</th>
              <th>Year</th>
              <th>Week</th>
              <th>Score</th>
            </tr>
            {% for week in league.allTime.worst_weeks %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ week.owner }}</td>
                <td>{{ week.team_name }}</td>
                <td>{{ week.year }}</td>
                <td>{{ week.week }}</td>
                <td>{{ week.score }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>

    </div>
    <div id="seasons-section" class="stats-body hide">
      {% for season in league.seasons reversed %}
        <h5>{{season.year}} Season</h5>
        <svg id="graph-{{season.year}}"></svg>
      {% endfor %}
    </div>
    <div id="teams-section" class="stats-body hide">
    </div>
  </body>
</html>
